html, body{
    height: 100%;
    padding: 0%;
    margin: 0%;
}
h1{
    text-align: center;
    text-decoration: underline;
    margin-inline-end: auto;
    background-color: rgb(141, 191, 235);
    color: rgb(18, 26, 54);
    padding: 7px;
    margin-bottom: 0%;
    margin-top: 0%;
}
.main-container{
    display: flex;
    height: calc(100% - 52px);
}
.section-list{
    flex: 3;
}    
.section-form{
    flex: 2;
    border-radius: 5px;
    background-color: blueviolet;
}
.my-control{
    display: block;
}
.my-control-label{
    display: inline-block;
    width: 70px;
    text-align: right;
    margin-right: 5px;
}
.my-control input,
.my-control select,
.my-control textarea{
    display: inline-block;
    padding: 5px 10px;
    width: auto;
}
#icon-important{
    font-size: 32px;
    color: rgb(134, 188, 235);
    cursor: pointer;
}
#icon-important:hover{
    padding-left: 2px;
}
    