html, body{
    height: 100%;
    padding: 0%;
    margin: 0%;
    background-image: url("https://previews.123rf.com/images/gonin/gonin1506/gonin150600450/41668286-abstract-blue-white-geometrical-web-background.jpg");
}
h1{
    text-align: center;
    text-decoration: underline;
    margin-inline-end: auto;
    background-color: rgba(141, 191, 235, 0.664);
    color: rgb(18, 26, 54);
    padding: 7px;
    margin-bottom: 0%;
    margin-top: 0%;
}
.main-container{
    display: flex;
    height: calc(100% - 52px);
}
.section-list{
    flex: 3;
}    
.section-form{
    flex: 2;
    border-radius: 5px;
    background-color: rgba(108, 32, 179, 0.514);
}
.my-control{
    display: block;
    margin-bottom: 8px;
}
.my-control-label{
    display: inline-block;
    width: 70px;
    text-align: right;
    margin-right: 5px;
}
.my-control input,
.my-control select,
.my-control textarea{
    display: inline-block;
    padding: 5px 10px;
    width: auto;
}
#icon-important{
    font-size: 32px;
    color: rgb(134, 188, 235);
    cursor: pointer;
}
#icon-important:hover{
    padding-left: 2px;
}
.task{
    display: flex;
    border: 1px solid #9eabc7;
    border-radius: 6px;
    margin-bottom: 10px;
    padding: 5px 10px;
    background-color: rgb(210, 209, 218);
    align-items: center;
}

.task i {
    flex: 1;
    font-size: 30px;
}

.task  .info {
    flex: 6;
}

.task label {
    flex: 1;
} 
